.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #924788;
  color: azure;
}

.details {
  margin-top: 5%;
}